<div class="container">
    <div *ngIf="singlePost" class="post">
        <span class="post__author">By {{ singlePost.parsely.meta.creator }}</span>
        <span class="post__timePublished">{{ timePublished }}</span>
        <h2 class="post__header" [innerHTML]="singlePost.title.rendered"></h2>
        <p class="post__content" [innerHTML]="singlePost.content.rendered | slice:0:1005"></p>
        <img class="post__image" [src]="singlePost.jetpack_featured_media_url" alt="" height="200px">
        <p class="post__content" [innerHTML]="singlePost.content.rendered | slice:1005:1600"></p>
        
    </div>
    <!--<div>
        <h2>More Articles</h2>
        <div *ngFor="let post of posts" class="blogpost">
            <img [src]="post.jetpack_featured_media_url" alt="" class="blogpost__image">
            <div class="blogpost__data">
                <span class="blogpost__data-author">{{ post.parsely.meta.creator }}</span>
                <span class="blogpost__data-date">{{ timePublished }}</span>
            </div>
            <div class="blogpost__content">
                <h2 class="blogpost__content-header" [innerHTML]="post.title.rendered"></h2>
                <p class="blogpost__content-body" [innerHTML]="post.excerpt.rendered"></p>
            </div>
            <div class="blogpost__footer">
                <span class="blogpost__footer-time">{{ totalReadTime }}</span>
                <span class="blogpost__footer-link">
                    <a href="">Read full</a>
                </span>
            </div>
    </div>-->
</div>