.container{
    font-family: "SF Pro", "Sans-serif";
}

/*Full blog post*/

.post {
    padding: 3em;
    display: flex;
    flex-direction: column;
}

.post__header{
    font-weight: 900px;
    font-size: 32px;
    line-height: 38px;
    color: #2c2c2c;
}

.post__content {
    font-weight: 400px;
    font-size: 14px;
    line-height: 21px;
    color: #6E6E6E;
}

.post__data-author, .post__data-timePublished{
    margin-right: 1em;
    color: #4b4b4b;
}

/* More articles post card*/

.blogpost-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.blogpost__data-date {
    margin-left:3em ;
}

.blogpost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.1em 0.1em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 370px;
    height: 420px;
    border-radius: 1em;
    margin:0 2em 5em;

}


.blogpost-header {
    margin:4em 0 3em 3em  ;
}

.blogpost-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-wrap: wrap;
}

.blogpost__data{
    margin: 0.5em 1em 1em;
}

.blogpost__data-author, .blogpost__data-date, .blogpost__footer-time {
    font-weight: 500px;
    font-size: 12px;
    line-height: 14.32px;
    color:#6E6E6E
}

.blogpost__content-body {
    font-weight: 500px;
    font-size: 14pxpx;
    line-height: 21px;
    color:#6E6E6E;
}

.blogpost__content-header {
    font-weight:700;
    font-size: 16px;
    margin: 0 1em;
    color: #2c2c2c;
    
}

.blogpost__content-body{
    color: #6E6E6E;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.blogpost__footer {
    margin:0 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.blogpost__footer-link {
    border: 0;
    background-color: #ffffff;
    cursor: pointer;
}

.blogpost__footer-link:hover {
    border: 1px solid rgb(44, 137, 165);
    padding: 0.5em 1em;
    border-radius: 0.5em;
}

/*Media queries for responsiveness*/

@media only screen and (min-width : 992px) {
    .post {
        padding: 0 20em;
    }

    .post__image{
        padding: 3em;
    }
}