<div>
    <div *ngIf="singlePost">
        <span>By {{ singlePost.parsely.meta.creator }}</span>
        <span>{{ timePublished }}</span>
        <h2 [innerHTML]="singlePost.title.rendered"></h2>
        <p [innerHTML]="singlePost.content.rendered | slice:0:10000"></p>
        <img [src]="singlePost.jetpack_featured_media_url" alt="" height="200px">
        <p></p>
    </div>
    <!--<div>
        <h2>More Articles</h2>
        <div *ngFor="let post of posts" class="blogpost">
            <img [src]="post.jetpack_featured_media_url" alt="" class="blogpost__image">
            <div class="blogpost__data">
                <span class="blogpost__data-author">{{ post.parsely.meta.creator }}</span>
                <span class="blogpost__data-date">{{ timePublished }}</span>
            </div>
            <div class="blogpost__content">
                <h2 class="blogpost__content-header" [innerHTML]="post.title.rendered"></h2>
                <p class="blogpost__content-body" [innerHTML]="post.excerpt.rendered"></p>
            </div>
            <div class="blogpost__footer">
                <span class="blogpost__footer-time">{{ totalReadTime }}</span>
                <span class="blogpost__footer-link">
                    <a href="">Read full</a>
                </span>
            </div>
    </div>-->
</div>