<div class="container">
    <div *ngIf="singlePost" class="post">
        <span class="post__data">
            <small class="post__data-author">By {{ singlePost.parsely.meta.creator }}</small>
            <small class="post__data-timePublished">{{ timePublished }}</small>
        </span>
        <h2 class="post__header" [innerHTML]="singlePost.title.rendered"></h2>
        <p class="post__content" [innerHTML]="singlePost.content.rendered | slice:0:1005"></p>
        <img class="post__image" [src]="singlePost.jetpack_featured_media_url" alt="blog-image">
        <p class="post__content" [innerHTML]="singlePost.content.rendered | slice:1005:1600"></p>
    </div>
    <h2 class="blogpost-header">More Articles</h2>
    <div class="blogpost-container">
        <div *ngFor="let article of articles" class="blogpost">
            <img [src]="article.jetpack_featured_media_url" alt="blogpost-image" class="blogpost__image" width="340px" height="220px">
            <div class="blogpost__content">
                <div class="blogpost__data">
                    <small class="blogpost__data-author">{{ article.parsely.meta.creator }}</small>
                    <small class="blogpost__data-date">{{ timePublished }}</small>
                </div>            
                <h5 class="blogpost__content-header" [innerHTML]="article.title.rendered"></h5>
                <p class="blogpost__content-body" [innerHTML]="article.excerpt.rendered  | slice:0:2"></p>  <!--overflowing-->
                
                <div class="blogpost__footer">
                    <small class="blogpost__footer-time">{{ totalReadTime }}</small>
                    <button class="blogpost__footer-link" [routerLink]="['/article', article.id]">
                        <img src="../../../assets/read.png" alt="post-image">
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</div>
