<ngx-spinner size="medium" [type]="typeSelected"></ngx-spinner>

<div class="container">
    <div class="hero" *ngIf="hero">
        
        <img class="hero__image" [src]="hero.jetpack_featured_media_url" alt="hero">
        
        <div class="hero__text">
            <span class="hero__text-author">{{ hero.parsely.meta.creator }}</span>
            <span class="hero__text-publishDate"> {{ timePublished }}</span>
            <h4 [innerHTML]="hero.title.rendered" class="hero__text-header"></h4>
            <p [innerHTML]="hero.excerpt.rendered | slice:0:400 " class="hero__text-content"></p>
            <div class="hero__footer">
                <span class="hero__footer-readTime">
                    {{ totalReadTime }}
                </span>
                <button class="hero__footer-link" [routerLink]="['/post', hero.id]">
                    <img src="../../../assets/read.png" alt="read-more-button">
                </button>
            </div>
        </div>
    </div>


    <div class="blogpost-container">
        <div *ngFor="let post of posts" class="blogpost">
            <img [src]="post.jetpack_featured_media_url" alt="blog-picture" class="blogpost__image" width="340px" height="220px">
           
            <div class="blogpost__content">
                <div class="blogpost__data">
                    <small class="blogpost__data-author">{{ post.parsely.meta.creator }}</small>
                    <small class="blogpost__data-date">{{ timePublished }}</small>
                </div>

                <h5 class="blogpost__content-header" [innerHTML]="post.title.rendered"></h5>
                <p class="blogpost__content-body" [innerHTML]="post.excerpt.rendered | slice:0:2"></p> <!--0verflowing-->
               
                <div class="blogpost__footer">
                    <small class="blogpost__footer-time">{{ totalReadTime }}</small>
                    <button class="blogpost__footer-link" [routerLink]="['/post', post.id]">
                        <img src="../../../assets/read.png" alt="post-image">
                    </button>
                </div>
            </div>
           
        </div>
    </div>

    <div class="footer" >
        <h3 class="footer__title">Join our Team of Writers</h3>
        <p class="footer__description">On dasdas, writers earn a living doing what they love. <br> Geting started is easy. Just pay a one time
            <b>$25 fee</b> and everything is ready to go.
        </p>
        <flutterwave-make-payment [public_key]="publicKey" [amount]="amount" currency="USD" payment_options="card"
            redirect_url="" text="Join Us" [customer]="customerDetails" [customizations]="customizations"  [meta]="meta"
            [tx_ref]="generateReference()" (callback)="makePaymentCallback($event)" (close)="closedPaymentModal()" class="footer__subscribe">
        </flutterwave-make-payment>

    </div>
</div>