<nav class="nav">
    <ol class="nav__layout">
        <li class="nav__layout-unit"><a href="" routerLink="" routerLinkActive="active"><img src="../../../assets/Dasdas Logo 1.png" alt="logo" height="80px"></a></li>
        <li class="nav__layout-unit">
            <ul class="menu">
                <li class="menu__item">
                    <a href="www.twitter.com">
                        <img src="../../assets/twitter.png" alt="twitter-logo">
                    </a>
                </li>
                <span class="menu__separator">
                    <img src="../../../assets/·.png" alt="separator">
                </span>
                <li class="menu__item">
                    <a href="www.dribbble.com">
                        <img src="../../../assets/dribbble.png" alt="dribbble-logo">
                    </a>
                </li>
                <span class="menu__separator">
                    <img src="../../../assets/·.png" alt="separator">
                </span>
                <li class="menu__item">
                    <a href="www.figma.com">
                        <img src="../../assets/figma.png" alt="figma-logo">
                    </a>
                </li>
                <span class="menu__separator">
                    <img src="../../../assets/·.png" alt="separator">
                </span>
                <li class="menu__item">
                    <a href="www.github.com">
                        <img src="../../../assets/github.png" alt="github-logo">
                    </a>
                </li>
            </ul>
        </li>
    </ol>
</nav>
