.nav {
    position: sticky;
    top: 0;
    background-color: #ffffff;

}

.nav__layout {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    list-style-type: none;
    display: flex;
    padding-right: 2em;
}

.menu__item, .menu__separator {
    padding-right: 0.5em;
}

.menu__separator img{
    height: 4px;
}


@media only screen and (min-width : 992px) {
    .menu__item, .menu__separator {
        padding-right: 1em;
    }

    .menu__item img {
        height: 1.6em;
    }
}